
.list{
    padding: 15px;
    background: darkslategrey;

    width: 400px;
    color: white;

    margin-bottom: 30px;
}

.element{
    display: flex;
    justify-content: space-between;
    padding: 5px;
}
.element:hover{
    background: darkcyan;
    cursor: pointer;
    font-size: 20px;
}
.button{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
button{
    width: 80px;
    padding: 0 20px;
}
