.superInput {
background: aquamarine;
 outline: none;
    border: none;
    margin: 10px;
}

.errorInput {

    background: red;
    margin: 10px;
}

.error {
    color: red;
}
.input:focus{
    outline:none;
    border: darkslategrey solid 2px;
}

.input{
    background-color: lightblue;
}
