
.radio{
    display: block;
    cursor: pointer;
}
.radio + .radio{
    margin-top: 15px;
}
.radio_real:checked { /*знак тильда помогает нам выбрать соседа */
    font-weight: 500;
}

.radio_fake{
    width: 20px;
    height: 20px;
    background-color: #fff;

    border:1px solid #777777;
    display: inline-block;
    border-radius: 50%;
    position: relative;
    margin-right: 10px;
    vertical-align: bottom;
}

.radio_real{  /*реальная радиокнопка скрыта,..*/
    width: 1px;
    height: 1px;
    position: absolute;
    opacity: 0;
    appearance: none;
}

.radio_real:checked + .radio_fake{
    background-color: #FFE074;


}

.radio_real:checked + .radio_fake::before{ /*..но когда она выбрана,то у радиофэйка будет кружок внутри*/
    content:"";
    width: 8px;
    height: 8px;
    background: #3C3C3C;
    border-radius: 50%;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50% ,-50%); /*выравниваем кружок по центру*/


}