.error{
    background-color: tomato;
}
.headerList {
    display: flex;
    max-width: 400px;
    padding: 20px;
    background-color: white;
    border-radius: 0 20px 20px 0;
    border: darkslategrey 4px solid;
    border-right-width: 60px;
    position: absolute;
    top: 1px;
    left: -340px;
    transition: left 0.5s;
    z-index: 9;

}
.headerList:hover{
    left: 0;
    transition: left 0.5s;
    cursor: pointer;
}

.plus{
    width: 30px;
    height: 30px;
    margin-right: 10px;
    position: absolute;
    right: -53px;
    top: 18px;
}
.item a{
    text-decoration: none;
}
.item{

    font-size: 20px;
    font-weight: bold;
    color: darkslategray;
    list-style: none;
    margin-right: 20px;
}
.headerList li a:hover{
    color: tomato;
}
.active{
    color: tomato;
}
